body {
	font-family: "Inter", sans-serif;
    padding: 1em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
}

p {
    font-size: 1em;
}


.title {
	margin-block-end: 0.2em;
}

.subtitle {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

.file {
    background-color: white;
}

.custom-upload {
    display: inline-block;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em 1em;
    margin: 0.2em 0;
}

.category-select {
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em 1em;
    margin: 0.2em 0;
    width: 13em;

    -webkit-appearance: none;
    appearance: none;

    padding-right: 3em;
    background-image: url('/static/images/arrow_down.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;

}

.custom-upload:hover, .category-select:hover {
    background-color: #f0f0f0;
}

.submit-button {
    display: block;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 0;
    margin: 1em 0;
    padding: 0.2em 1em;
}

.validation-error {
    color: red;
    font-size: 0.8em;
    display: none;
}

#isbns-text {
	line-height: 2em;
}

#file-name {
    margin-left: 10px;
    font-style: italic;
}