body {
	font-family: "Inter", sans-serif;
    padding: 1em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
}

p {
    font-size: 1em;
}

/* INDEX */

.title {
	margin-block-end: 0.2em;
}

.subtitle {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

.file {
    background-color: white;
}

.custom-upload {
    display: inline-block;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em 1em;
    margin: 0.2em 0;
}

.category-select {
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em 1em;
    margin: 0.2em 0;
    width: 13em;

    -webkit-appearance: none;
    appearance: none;

    padding-right: 3em;
    background-image: url('/static/images/arrow_down.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;

}

.custom-upload:hover, .category-select:hover {
    background-color: #f0f0f0;
}

.submit-button, .add-title-btn {
    display: block;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 0;
    margin: 1em 0;
    padding: 0.5em 1em;
}

.validation-error {
    color: red;
    font-size: 0.8em;
    display: none;
}

.instructions {
    margin: 1em 0 0;
}

#isbns-text {
	line-height: 2em;
}

#file-name {
    margin-left: 10px;
    font-style: italic;
}

/* VALIDATE */

table {
    width: 80%;
    border-collapse: collapse;
}

thead th {
    border-bottom: 1px solid black; 
    padding-bottom: 10px;
    text-align: left;
}

tbody td {
    padding: 5px 0; /* Add padding for spacing */
    border-bottom: 1px solid black; 
}

tbody td input {
    border: none; /* Remove borders on inputs */
    background: none; /* Transparent background */
    width: 100%; /* Make inputs full width */
}

.add-book-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.new-title-input {
    width: 50%; 
    padding: 10px 10px 6px;
    font-style: italic;
    border: 1px solid black;
    margin-right: 10px;
}

.add-title-btn {
    font-weight: normal;
    padding: 10px 10px 6px;
}

.book, .isbn {
    font-size: 0.8em;
}


/* OLD */

/* 
.book-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding: 5px;
    align-items: center;
}
.book-row input[type="text"] {
    /* padding: 5px; */
    /* margin-right: 10px; */
    /* border: none;
    padding: 0;
} */




/* .title-input, .title-header {
    flex: 2;
}
.isbn-input, .isbn-header {
    flex: 1; 
} */
.delete-btn {
    color: black; 
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    background-color: none;
}
.delete-btn:hover {
    color: grey; /* Darker red when hovering over the X */
}
.add-row-btn {
    margin-top: 20px;
}

ul {
    padding-left: 1.5em;
}

.donut-chart-container {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}


.rating-info {
    display: inline-block;
    margin-left: 30px;
    width: 15em;
}

.diversity-rating {
    display: flex;
}

.book-cover {
    width: 50px;
}